$green: #30e8b1;
$blue: #5bc0eb;
$red: #ef6f6c;

input[type=submit], input[type=button], button, .btn{
  display: inline-block;
  padding: 0.75em 1em;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fff;
  color: #aaa;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.1s linear, background-color 0.1s linear;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(#000, 0); ;

  &.main{
    border-color: #aaa;
  }

  &:hover, &:focus, &:active{
    background-color: #eaeaea;
    color: #fff;

    &.main{
      border-color: #eaeaea;
    }
  }

  &.green{
    color: $green;

    &:hover, &:focus, &:active{
      background-color: $green;
      color: #fff;
    }

    &.main{
      border-color: $green;
    }
  }

  &.blue{
    color: $blue;

    &:hover, &:focus, &:active{
      background-color: $blue;
      color: #fff;
    }

    &.main{
      border-color: $blue;
    }
  }

  &.red{
    color: $red;

    &:hover, &:focus, &:active{
      background-color: $red;
      color: #fff;
    }

    &.main{
      border-color: $red;
    }
  }
}